/* my global css*/
body{
  padding-left: 200px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Helvetica","Verdana","sans-serif";
  color: #2d3c49;
  background: #fff;
  margin: 0 1.5% 24px 1.5%;
}

hr{
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color:#7d97ad;
  width:100%;
}
.avatar{
  height: 80px;
  width: 10%;
  margin-top: 1px;
  float: left;
}
/* my profile css*/
.profile{
  color: #2d3c49;
  margin-top: 0px;
  text-align: right;
  text-transform: uppercase;
}

.profile_name{
  margin: 0;
  font-size: 4.0em;
  font-weight:100;
}
.profile_job{
    margin-top: 0px;
    font-size: 1.4em;
    font-weight:100;
  }

  .procession_image{
    height: 500px;
    width: 100%;
  }
/*my featured projects css*/
.featured_projects{
color:#7d97ad;
}

.captured{
  height: 300px;
  width: 100%;
}
.project{
  text-align: center;
}

.project_title{
  color: #2d3c49;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.project_link{
  font-size: 1.25em;
  color: #02b3e4
}
/* footer css*/
 .footer_title{
   margin-top: 50px;
   padding: 20px;
   font-size: 10px;
   text-align: center;
   font-weight: 200;
 }
